openapi: 3.1.0
info:
  title: NERO Paymaster JSON-RPC API
  version: "1.0.0"
  summary: Gas abstraction for NERO Chain via ERC-4337 paymasters.
  description: |
    The NERO Paymaster API is a JSON-RPC 2.0 service that lets dApps sponsor user
    gas fees or let users pay gas in any supported ERC-20 token. It runs on top
    of ERC-4337 and cooperates with the EntryPoint contract deployed at
    `0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789` on NERO Chain.

    Three payment types are supported:

    - **Type 0 — Sponsored**: developer pays gas from their AA Platform balance.
    - **Type 1 — Prepay ERC-20**: user pays in an ERC-20 token up-front, with a
      refund for any surplus.
    - **Type 2 — Postpay ERC-20**: user pays in an ERC-20 token for the exact
      gas consumed, settled after execution.

    Authentication is via a long-lived API key issued through the
    [AA Platform dashboard](https://aa-platform.nerochain.io). Never ship the
    API key in client-side code.
  termsOfService: https://nerochain.io/legal
  contact:
    name: NERO Chain
    url: https://nerochain.io
    email: contact@nerochain.io
  license:
    name: MIT
    identifier: MIT
externalDocs:
  description: NERO Paymaster API documentation
  url: https://docs.nerochain.io/en/developer-tools/paymaster-api
servers:
  - url: https://paymaster-testnet.nerochain.io
    description: NERO testnet
  - url: https://paymaster-mainnet.nerochain.io
    description: NERO mainnet
tags:
  - name: paymaster
    description: Paymaster JSON-RPC methods
paths:
  /:
    post:
      operationId: jsonRpcCall
      tags: [paymaster]
      summary: Call any Paymaster JSON-RPC method.
      description: |
        All Paymaster methods are invoked over a single JSON-RPC 2.0 endpoint.
        The `method` property of the request body selects the operation:

        - `pm_supported_tokens` — list ERC-20 tokens accepted for gas, with prices.
        - `pm_sponsor_userop` — sign a UserOperation with the Paymaster.
        - `pm_entrypoints` — return supported EntryPoint addresses.
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonRpcRequest"
            examples:
              supportedTokens:
                $ref: "#/components/examples/SupportedTokensRequest"
              sponsorFree:
                $ref: "#/components/examples/SponsorFreeRequest"
              sponsorType1:
                $ref: "#/components/examples/SponsorType1Request"
              entrypoints:
                $ref: "#/components/examples/EntrypointsRequest"
      responses:
        "200":
          description: JSON-RPC response (either result or error).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse"
              examples:
                supportedTokens:
                  $ref: "#/components/examples/SupportedTokensResponse"
                sponsorFree:
                  $ref: "#/components/examples/SponsorResponse"
                entrypoints:
                  $ref: "#/components/examples/EntrypointsResponse"
                errorInvalidParams:
                  $ref: "#/components/examples/ErrorInvalidParams"
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        API key issued by the AA Platform dashboard. Some SDK clients pass the
        API key as the second JSON-RPC parameter instead of as a header; both
        forms are accepted.
  schemas:
    Hex:
      type: string
      pattern: "^0x[0-9a-fA-F]*$"
      description: Hex-encoded byte string.
    Address:
      type: string
      pattern: "^0x[0-9a-fA-F]{40}$"
      description: Ethereum-format address.
      examples:
        - "0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789"
    UserOperation:
      type: object
      description: ERC-4337 UserOperation.
      required:
        - sender
        - nonce
        - initCode
        - callData
        - callGasLimit
        - verificationGasLimit
        - preVerificationGas
        - maxFeePerGas
        - maxPriorityFeePerGas
        - paymasterAndData
        - signature
      properties:
        sender: { $ref: "#/components/schemas/Address" }
        nonce: { $ref: "#/components/schemas/Hex" }
        initCode: { $ref: "#/components/schemas/Hex" }
        callData: { $ref: "#/components/schemas/Hex" }
        callGasLimit: { $ref: "#/components/schemas/Hex" }
        verificationGasLimit: { $ref: "#/components/schemas/Hex" }
        preVerificationGas: { $ref: "#/components/schemas/Hex" }
        maxFeePerGas: { $ref: "#/components/schemas/Hex" }
        maxPriorityFeePerGas: { $ref: "#/components/schemas/Hex" }
        paymasterAndData: { $ref: "#/components/schemas/Hex" }
        signature: { $ref: "#/components/schemas/Hex" }
    SponsorContext:
      type: object
      required: [type]
      properties:
        type:
          type: integer
          enum: [0, 1, 2]
          description: |
            0 = developer-sponsored (free gas).
            1 = user prepays gas in an ERC-20 token; excess refunded.
            2 = user pays exactly the gas consumed in an ERC-20 token (postpay).
        token:
          $ref: "#/components/schemas/Address"
          description: ERC-20 token address. Required for `type=1` and `type=2`.
      examples:
        - { type: 0 }
        - { type: 1, token: "0xD5a6dcff7AC339A03f6964c315575bF65c3c6cF6" }
    JsonRpcRequest:
      oneOf:
        - $ref: "#/components/schemas/SupportedTokensRequest"
        - $ref: "#/components/schemas/SponsorUserOpRequest"
        - $ref: "#/components/schemas/EntrypointsRequest"
      discriminator:
        propertyName: method
        mapping:
          pm_supported_tokens: "#/components/schemas/SupportedTokensRequest"
          pm_sponsor_userop: "#/components/schemas/SponsorUserOpRequest"
          pm_entrypoints: "#/components/schemas/EntrypointsRequest"
    JsonRpcRequestBase:
      type: object
      required: [jsonrpc, id, method, params]
      properties:
        jsonrpc: { type: string, const: "2.0" }
        id: { oneOf: [{ type: integer }, { type: string }] }
    SupportedTokensRequest:
      allOf:
        - $ref: "#/components/schemas/JsonRpcRequestBase"
        - type: object
          properties:
            method: { type: string, const: pm_supported_tokens }
            params:
              type: array
              items: {}
              minItems: 3
              maxItems: 3
              prefixItems:
                - $ref: "#/components/schemas/UserOperation"
                - { type: string, description: API key from AA Platform }
                - { $ref: "#/components/schemas/Address", description: EntryPoint address }
    SponsorUserOpRequest:
      allOf:
        - $ref: "#/components/schemas/JsonRpcRequestBase"
        - type: object
          properties:
            method: { type: string, const: pm_sponsor_userop }
            params:
              type: array
              items: {}
              minItems: 4
              maxItems: 4
              prefixItems:
                - $ref: "#/components/schemas/UserOperation"
                - { type: string, description: API key from AA Platform }
                - { $ref: "#/components/schemas/Address", description: EntryPoint address }
                - $ref: "#/components/schemas/SponsorContext"
    EntrypointsRequest:
      allOf:
        - $ref: "#/components/schemas/JsonRpcRequestBase"
        - type: object
          properties:
            method: { type: string, const: pm_entrypoints }
            params:
              type: array
              items: { type: string }
              description: "[\"entryPoint\"] or empty."
    JsonRpcResponse:
      oneOf:
        - $ref: "#/components/schemas/JsonRpcResult"
        - $ref: "#/components/schemas/JsonRpcError"
    JsonRpcResult:
      type: object
      required: [jsonrpc, id, result]
      properties:
        jsonrpc: { type: string, const: "2.0" }
        id: { oneOf: [{ type: integer }, { type: string }] }
        result: {}
    JsonRpcError:
      type: object
      required: [jsonrpc, id, error]
      properties:
        jsonrpc: { type: string, const: "2.0" }
        id: { oneOf: [{ type: integer }, { type: string }, { type: "null" }] }
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: integer
              description: |
                Standard JSON-RPC error codes and Paymaster-specific codes.
                Paymaster codes observed in practice:
                - -32521: Transaction reverted (or will revert).
                - -32602: Invalid UserOperation struct/fields.
                - -32500: Rejected by EntryPoint's simulateValidation.
                - -32501: Rejected by paymaster's validatePaymasterUserOp.
                - -32502: Rejected due to opcode validation.
                - -32503: UserOperation out of time-range.
                - -32504: Paymaster throttled/banned.
                - -32505: Paymaster stake/unstake-delay too low.
                - -32506: Unsupported signature aggregator.
                - -32507: Invalid signature check.
            message: { type: string }
            data: {}
    SupportedTokensResult:
      type: object
      required: [freeGas, native, tokens]
      properties:
        freeGas: { type: boolean, description: Whether Type 0 sponsorship is currently enabled. }
        native:
          type: object
          required: [gas, price, decimals, symbol]
          properties:
            gas: { $ref: "#/components/schemas/Hex" }
            price: { type: number }
            decimals: { type: integer }
            symbol: { type: string }
        tokens:
          type: array
          items:
            type: object
            required: [type, token, symbol, decimals, price]
            properties:
              type: { type: string, enum: [system, custom] }
              token: { $ref: "#/components/schemas/Address" }
              symbol: { type: string }
              decimals: { type: integer }
              price: { type: number }
  examples:
    SupportedTokensRequest:
      summary: List supported gas tokens for a sender.
      value:
        jsonrpc: "2.0"
        id: 1
        method: pm_supported_tokens
        params:
          - sender: "0xAABbCc00112233445566778899AaBbCcDdEeFf00"
            nonce: "0x0"
            initCode: "0x"
            callData: "0x"
            callGasLimit: "0x0"
            verificationGasLimit: "0x0"
            preVerificationGas: "0x0"
            maxFeePerGas: "0x0"
            maxPriorityFeePerGas: "0x0"
            paymasterAndData: "0x"
            signature: "0x"
          - "YOUR_API_KEY"
          - "0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789"
    SupportedTokensResponse:
      summary: Supported tokens response.
      value:
        jsonrpc: "2.0"
        id: 1
        result:
          freeGas: true
          native:
            gas: "0x337dc"
            price: 1
            decimals: 18
            symbol: NERO
          tokens:
            - type: system
              token: "0xD5a6dcff7AC339A03f6964c315575bF65c3c6cF6"
              symbol: DAI
              decimals: 18
              price: 2.1
            - type: custom
              token: "0x13DCf97b6B94bDA883492AB46d556E8919445876"
              symbol: TestToken
              decimals: 18
              price: 0.1
    SponsorFreeRequest:
      summary: Sponsor a UserOp (Type 0 — free gas).
      value:
        jsonrpc: "2.0"
        id: 1
        method: pm_sponsor_userop
        params:
          - sender: "0xAABbCc00112233445566778899AaBbCcDdEeFf00"
            nonce: "0x0"
            initCode: "0x"
            callData: "0xb61d27f6"
            callGasLimit: "0x88b8"
            verificationGasLimit: "0x33450"
            preVerificationGas: "0xc350"
            maxFeePerGas: "0x9502f900"
            maxPriorityFeePerGas: "0x9502f900"
            paymasterAndData: "0x"
            signature: "0xdeadbeef"
          - "YOUR_API_KEY"
          - "0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789"
          - { type: 0 }
    SponsorType1Request:
      summary: Sponsor a UserOp (Type 1 — prepay ERC-20).
      value:
        jsonrpc: "2.0"
        id: 1
        method: pm_sponsor_userop
        params:
          - sender: "0xAABbCc00112233445566778899AaBbCcDdEeFf00"
            nonce: "0x0"
            initCode: "0x"
            callData: "0xb61d27f6"
            callGasLimit: "0x88b8"
            verificationGasLimit: "0x33450"
            preVerificationGas: "0xc350"
            maxFeePerGas: "0x9502f900"
            maxPriorityFeePerGas: "0x9502f900"
            paymasterAndData: "0x"
            signature: "0xdeadbeef"
          - "YOUR_API_KEY"
          - "0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789"
          - { type: 1, token: "0xD5a6dcff7AC339A03f6964c315575bF65c3c6cF6" }
    SponsorResponse:
      summary: Signed UserOperation with paymasterAndData populated.
      value:
        jsonrpc: "2.0"
        id: 1
        result:
          sender: "0xAABbCc00112233445566778899AaBbCcDdEeFf00"
          nonce: "0x0"
          initCode: "0x"
          callData: "0xCallData"
          callGasLimit: "0x88b8"
          verificationGasLimit: "0x33450"
          preVerificationGas: "0xc350"
          maxFeePerGas: "0x9502f900"
          maxPriorityFeePerGas: "0x9502f900"
          paymasterAndData: "0xPaymasterAddressEncodedDataPaymasterSignature"
          signature: "0xUserSignature"
    EntrypointsRequest:
      summary: List supported EntryPoint addresses.
      value:
        jsonrpc: "2.0"
        id: 1
        method: pm_entrypoints
        params: ["entryPoint"]
    EntrypointsResponse:
      summary: EntryPoint addresses response.
      value:
        jsonrpc: "2.0"
        id: 1
        result: ["0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789"]
    ErrorInvalidParams:
      summary: JSON-RPC error response (invalid params).
      value:
        jsonrpc: "2.0"
        id: 1
        error:
          code: -32602
          message: "Invalid UserOperation struct/fields."
